<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps project</title>
    <link rel="stylesheet" href="/static/css/main.css">
    
</head>
<body>
    <div class="container">
        <h1>Web app demo</h1>
        <input type="text" id="nameInput" placeholder="Enter your name">
        <button onclick="greet()">Greet me</button>
        <div id="response"></div>
    </div> 
    <script src="static/js.app.js"></script>
    
</body>
</html>